{#=====================================================
  Base template
  - Used as the basis of all pages
  - Uses a light colour theme by default
  - Provides a main heading and navigation menu
  - Has blocks for the page title and main content
  - Loads PicoCSS and Pico Colours
  - Loads a user stylesheet
  - Loads JS utility functions
  - Includes block for flash messages
=====================================================#}

<!DOCTYPE html>

<html lang="en" data-theme="dark">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" href="/static/images/filledStar.svg">

    {# Title of the page, with a block to change the title for each page #}
	<title>D&D Combat Tracker | {% block title %}{% endblock %}</title>

    <script src="/static/js/utils.js"></script>

    {# All stylesheets #}
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.classless.red.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.colors.min.css">
    <link rel="stylesheet" href="/static/css/styles.css">

    {# Linking the custom javascript file #}
    <script src="/static/js/script.js"></script>
    
</head>

<body>

    <header>
        {# Nav Menu #}
        <nav>
            {# Left Nav #}
            <ul>
                <li><img class="largeResource" src="/static/images/emptyStar.svg" alt="Star Icon"></li>
                <li class="navitem"><strong><a href="/">D&D Combat Tracker</a></strong></li>
            </ul>

            {# Right Nav #}
            <ul>
                <li class="navitem"><a href="/">All Encounters</a></li>
                <li class="navitem">|</li>
                <li class="navitem"><a href="/encounter/new">Create an Encounter</a></li>
            </ul>
        </nav>
    </header>


    {# Show flash messages from any previous events #}
    {% include "components/messages.jinja" %}


    <main>

        {% block content %}
        {% endblock %}

    </main>


    {# Show debug info. Comment this out if not needed #}
    {% include "components/debug.jinja" %}

</body>

</html>

