{#=====================================================
  Home page
  - 
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Create Encounter

{% endblock %}


{% block content %}

    <h2 class="heading">Create an Encounter:</h2>

    <article class="encounter_form">
        <form method="POST" action="/encounter/create">
            <input class="encounter_input" name="name" placeholder="Encounter Name">
            
            <input class="encounter_input" name="description" placeholder="Encounter Description">

            <input class="submit" type="submit" value="Create">
        </form>

    </article>

{% endblock %}