{#=====================================================
  Thing page
  - Shows details of a single thing
  - Has a delete link to remove it
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    D&D Combat Tracker | {{ encounter.name }}

{% endblock %}


{% block content %}
        <header>
            <article>
                <h2>{{ encounter.name }}</h2>

                <p>{{ encounter.description }}</p>
            </article>
        </header>
    <hr/>
    <article>
        <h3>Initiative</h3>

        {% for character in characters %}
            {% if character.active == 1 %}
                <article>

                    <article class="character">
                        {% if character.roll %}
                            <h3>{{character.roll}}</h3>
                        {% else %}
                            <a role="button" class="secondary" href="/character/{{character.init_id}}/roll">Roll</a>
                        {% endif %}

                        <h4>{{character.name}}</h4>
                        <p>{{character.hp}}/{{character.max_hp}}</p>
                        <a onclick="dropdown({{character.init_id}})">V</a>
                    </article>

                    <section id="dropdown_{{character.init_id}}" class="dropdown_closed">

                        <form method="POST" action="/character/{{character.id}}/update">
                            

                            <section class="row">
                                <h4 id="name">{{character.name}}</h4>

                                {% if character.type == "P" %}
                                    <h6><u>Player</u></h6>
                                {% elif character.type == "E" %}
                                    <h6><u>Enemy</u></h6>
                                {% endif %}

                                <h6 id="space">|</h6>

                                <h6>Health:</h6>

                                <input name="hp" type="number" value="{{character.hp}}">

                                <h1>/</h1>

                                <input name="max_hp" type="number" value="{{character.max_hp}}">
                            </section>

                            <section class="row">
                                <fieldset>
                                    <h6>AC</h6>
                                    <input name="ac" type="number" value="{{character.ac}}">
                                </fieldset>
                                <fieldset>
                                    <h6>Initiative</h6>
                                    <input name="initiative" type="number" value="{{character.initiative_bonus}}">
                                </fieldset>
                            </section>

                            <section class="row">
                                <a role="button" class="secondary" href="/character/{{character.init_id}}/deactivate">Deactivate</a>
                                
                                <a role="button" class="secondary" href="/character/{{character.init_id}}/roll">Roll Initiative</a>

                                <a role="button" class="secondary" href="/character/{{character.id}}/extra">Add Extra Turn</a>
                                
                                <a role="button" class="secondary" onclick="return confirm('Are you sure you wish to delete this turn?')" href="/character/{{character.init_id}}/turn">Remove Turn</a>
                                
                                <a role="button" class="secondary" onclick="return confirm('Are you sure you wish to delete {{character.name}}?')" href="/character/{{character.id}}/delete">Delete Character</a>
                            </section>
                            
                            <input type="submit" value="Save Changes">
                        </form>

                    </section>

                </article>
            {% endif %}
            
        {% endfor %}

    </article>
    <hr/>
    <article>
        <h3>Inactive Characters:</h3>

        {% for character in characters %}
            {% if character.active == 0 %}
                <article>

                    <article class="character">
                        <a role="button" class="secondary" href="/character/{{character.init_id}}/activate">Activate</a>
                        <h4>{{character.name}}</h4>
                        <p>{{character.hp}}/{{character.max_hp}}</p>
                        <a onclick="dropdown({{character.init_id}})">V</a>
                    </article>

                    <section id="dropdown_{{character.init_id}}" class="dropdown_closed">
                        <h1>{{character}}</h1>
                    </section>

                </article>
            {% endif %}
        {% endfor %}

    </article>
    <hr/>
    <article>
        <h3>Add a character</h3>
        <form method="POST" action="/encounter/{{encounter.id}}/add">

            <fieldset role="group">
                <input name="name" placeholder="Name" required>

                <select name="type" required>
                    <option selected disabled>Character Type</option>
                    <option>Player</option>
                    <option>Enemy</option>
                    <option>NPC</option>
                    <option>Boss</option>
                    <option>Other</option>
                </select>
            </fieldset>
            
            <div class="grid">
                <input name="ac" placeholder="Armor Class" type="number">
                <input name="max_hp" placeholder="Max Hitpoints" type="number" required>
                <input name="initiative" placeholder="Initiative Bonus" type="number">
            </div>

            <textarea name="notes" placeholder="Notes" rows="5" cols="40" style="overflow: auto;" ></textarea>
            <input type="submit" value="Add Character to Encounter">
        </form>
    </article>

{% endblock %}